# Problem 1.

In [49]:
%matplotlib widget
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import time
from sklearn.metrics import classification_report

## 1. Инициализация и предобработка данных

In [50]:
df = pd.read_csv('weatherAUS.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [51]:
df.sample(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
106590,2011-11-25,Woomera,14.6,27.5,1.8,NaN,7.4,WSW,56.0,SW,...,44.0,17.0,1018.4,1014.9,2.0,2.0,18.4,26.0,Yes,No
13854,2014-02-20,Moree,22.3,26.2,23.8,6.4,NaN,N,30.0,NNW,...,93.0,74.0,1007.9,1009.3,8.0,7.0,23.1,24.7,Yes,NaN
68777,2012-11-24,Melbourne,13.3,34.5,0.0,6.4,7.9,N,52.0,N,...,61.0,18.0,1012.7,1009.2,NaN,NaN,20.2,34.1,No,No
78580,2010-08-15,Watsonia,10.3,14.7,0.0,1.4,0.9,WSW,54.0,N,...,84.0,99.0,1000.1,1002.0,7.0,5.0,11.2,13.5,No,Yes
72088,2013-11-20,Mildura,14.3,25.1,0.0,11.4,7.3,SSE,33.0,SSE,...,59.0,35.0,1006.8,1008.7,7.0,7.0,17.4,23.5,No,No
125221,2012-11-29,SalmonGums,11.5,20.3,6.8,NaN,NaN,NW,72.0,WNW,...,44.0,35.0,NaN,NaN,NaN,NaN,15.6,18.6,Yes,No
137406,2012-08-27,AliceSprings,4.0,27.5,0.0,7.6,11.1,E,30.0,ENE,...,30.0,14.0,1022.2,1017.1,0.0,1.0,16.6,25.3,No,No
76075,2012-01-31,Portland,12.1,17.7,4.8,2.2,5.9,S,43.0,S,...,52.0,61.0,1017.2,1019.9,7.0,8.0,13.9,14.7,Yes,No
121055,2009-08-22,Perth,12.7,17.6,3.6,2.4,3.2,SW,46.0,W,...,77.0,67.0,1011.6,1010.2,7.0,8.0,15.3,16.4,Yes,Yes
128023,2012-05-09,Walpole,11.2,18.8,2.0,NaN,NaN,NW,52.0,NNW,...,74.0,91.0,1016.9,1016.5,NaN,NaN,15.3,16.3,Yes,Yes

In [54]:
df.isna().sum().sort_values(ascending=False)

Sunshine         69835
Evaporation      62790
Cloud3pm         59358
Cloud9am         55888
Pressure9am      15065
Pressure3pm      15028
WindDir9am       10566
WindGustDir      10326
WindGustSpeed    10263
Humidity3pm       4507
WindDir3pm        4228
Temp3pm           3609
RainTomorrow      3267
RainToday         3261
Rainfall          3261
WindSpeed3pm      3062
Humidity9am       2654
WindSpeed9am      1767
Temp9am           1767
MinTemp           1485
MaxTemp           1261
Location             0
Date                 0
dtype: int64

In [56]:
weather_df = df.drop(columns=['Date', 'Sunshine', 'Evaporation', 'Cloud3pm', 'Cloud9am']).dropna()
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 145458
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       112925 non-null  object
 1   MinTemp        112925 non-null  float64
 2   MaxTemp        112925 non-null  float64
 3   Rainfall       112925 non-null  float64
 4   WindGustDir    112925 non-null  object
 5   WindGustSpeed  112925 non-null  float64
 6   WindDir9am     112925 non-null  object
 7   WindDir3pm     112925 non-null  object
 8   WindSpeed9am   112925 non-null  float64
 9   WindSpeed3pm   112925 non-null  float64
 10  Humidity9am    112925 non-null  float64
 11  Humidity3pm    112925 non-null  float64
 12  Pressure9am    112925 non-null  float64
 13  Pressure3pm    112925 non-null  float64
 14  Temp9am        112925 non-null  float64
 15  Temp3pm        112925 non-null  float64
 16  RainToday      112925 non-null  object
 17  RainTomorrow   112925 non-null  object
dtypes: float64(12), object(6)
memory usage: 16.4+ MB

In [57]:
from sklearn import preprocessing

labelencoder = preprocessing.LabelEncoder()
weather_df['Location'] = labelencoder.fit_transform(weather_df['Location'])
weather_df['WindGustDir'] = labelencoder.fit_transform(weather_df['WindGustDir'])
weather_df['WindDir9am'] = labelencoder.fit_transform(weather_df['WindDir9am'])
weather_df['RainToday'] = labelencoder.fit_transform(weather_df['RainToday'])
weather_df['RainTomorrow'] = labelencoder.fit_transform(weather_df['RainTomorrow'])
weather_df['WindDir3pm'] = labelencoder.fit_transform(weather_df['WindDir3pm'])

min_max_scaler = preprocessing.MinMaxScaler()
weather_df_new = pd.DataFrame(data=min_max_scaler.fit_transform(weather_df), columns=weather_df.columns)
weather_df_new.sample(10)

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
75490,0.790698,0.515439,0.525275,0.0,0.066667,0.304688,0.666667,0.000000,0.176471,0.364706,0.57,0.45,0.667769,0.6480,0.547344,0.513333,0.0,0.0
77206,0.000000,0.565321,0.731868,0.0,0.466667,0.320312,0.333333,0.400000,0.105882,0.258824,0.47,0.13,0.527273,0.4896,0.616628,0.740000,0.0,0.0
13363,0.534884,0.615202,0.496703,0.0,0.333333,0.250000,0.533333,0.066667,0.058824,0.258824,0.73,0.76,0.614876,0.5600,0.586605,0.502222,0.0,0.0
27365,0.860465,0.320665,0.435165,0.0,0.066667,0.218750,0.133333,0.066667,0.129412,0.235294,0.73,0.53,0.661157,0.6144,0.378753,0.448889,0.0,0.0
97495,0.627907,0.446556,0.437363,0.0,0.400000,0.382812,0.333333,0.466667,0.105882,0.211765,0.72,0.69,0.578512,0.5488,0.452656,0.448889,0.0,0.0
85463,1.000000,0.346793,0.373626,0.0,0.600000,0.218750,0.666667,0.800000,0.176471,0.152941,0.40,0.21,0.783471,0.7712,0.367206,0.373333,0.0,0.0
68775,0.162791,0.684086,0.580220,0.0,0.666667,0.421875,0.666667,0.600000,0.329412,0.494118,0.51,0.53,0.657851,0.6496,0.655889,0.544444,0.0,0.0
84738,1.000000,0.275534,0.325275,0.0,0.333333,0.421875,0.266667,0.200000,0.200000,0.411765,0.63,0.37,0.694215,0.6352,0.260970,0.337778,0.0,1.0
79195,0.488372,0.503563,0.371429,0.0,0.733333,0.187500,0.866667,0.733333,0.129412,0.211765,0.80,0.78,0.613223,0.6320,0.429561,0.342222,0.0,0.0
39715,0.093023,0.448931,0.364835,0.0,0.333333,0.367188,0.200000,0.333333,0.364706,0.364706,0.46,0.42,0.624793,0.5984,0.413395,0.357778,0.0,0.0

In [68]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(weather_df_new.drop(['RainTomorrow'], axis=1), weather_df['RainTomorrow'], test_size=0.25, shuffle=False)

## 2. Построение и оценка моделей

### 2.1. Наивные байесовские классификаторы

In [71]:
import sklearn.naive_bayes

classifier = sklearn.naive_bayes.MultinomialNB()
t1 = time.perf_counter()
classifier.fit(X_train, y_train)
n_b_Multi_accuracy = classifier.score(X_test, y_test)
n_b_Multi_time = time.perf_counter() - t1

In [72]:
classifier = sklearn.naive_bayes.GaussianNB()
t1 = time.perf_counter()
classifier.fit(X_train, y_train)
n_b_Gauss_accuracy = classifier.score(X_test, y_test)
n_b_Gauss_time = time.perf_counter() - t1

In [73]:
classifier = sklearn.naive_bayes.BernoulliNB()
t1 = time.perf_counter()
classifier.fit(X_train, y_train)
n_b_Bern_accuracy = classifier.score(X_test, y_test)
n_b_Bern_time = time.perf_counter() - t1

### 2.2. Линейная регрессия

In [127]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(max_iter=5000)
t1 = time.perf_counter()
classifier.fit(X_train, y_train)
logit_accuracy = classifier.score(X_test, y_test)
logit_time = time.perf_counter() - t1

### 2.3. Метод ближайших соседей

In [89]:
from sklearn.neighbors import KNeighborsClassifier

In [66]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)

KNeighborsClassifier()

In [67]:
neigh.score(X_test, y_test)

0.844644375177104

In [91]:
kNN_accuracy = []
kNN_time = []
n_neig = range(1, 20 + 1)
for i in n_neig:
    neigh = KNeighborsClassifier(n_neighbors=i)
    t1 = time.perf_counter()
    neigh.fit(X_train, y_train)
    kNN_accuracy.append(neigh.score(X_test, y_test))
    kNN_time.append(time.perf_counter() - t1)

In [95]:
fig, (ax1, ax2) = plt.subplots(1, 2)
ax1.plot(n_neig, kNN_accuracy)
ax1.set_xlabel("n_neighbors")
ax1.set_ylabel("score")
ax1.set_title("Score on KNeighborsClassifier")
ax2.plot(n_neig, kNN_time)
ax2.set_xlabel("n_neighbors")
ax2.set_ylabel("execution time, s.")
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## 3. Выводы

Построим таблицу с результатами:

In [130]:
res_accuracy = [n_b_Multi_accuracy, n_b_Gauss_accuracy, n_b_Bern_accuracy, logit_accuracy, np.max(kNN_accuracy)]
res_time = [n_b_Multi_time, n_b_Gauss_time, n_b_Bern_time, logit_time, kNN_time[np.where(kNN_accuracy == np.max(kNN_accuracy))[0][0]]]
model_name = ['MultinomialNB', 'GaussianNB', 'BernoulliNB', 'LogisticRegression', 'KNeighborsClassifier, k = 18']
res_df = pd.DataFrame({'Модель' : model_name, 'Accuracy' : res_accuracy, 'Время выполения, с.' : res_time})
res_df = res_df.sort_values('Accuracy', ascending=False)
res_df.index = range(1, 5 + 1)
res_df

                         Модель  Accuracy  Время выполения, с.
1            LogisticRegression  0.867278             1.191048
2  KNeighborsClassifier, k = 18  0.853712            61.038290
3                    GaussianNB  0.845140             0.074069
4                 MultinomialNB  0.800545             0.024437
5                   BernoulliNB  0.796933             0.040594

* Метрика Accuracy показывает долю верно размеченных единиц.
* Самая качественная модель - LogisticRegression.
* Самая быстрая - MultinomialNB.
* Метод ближайших соседей очень медленной считается - в среднем 1 минуту.
* Таким образом, лучшая модель, как самая качественная и достаточно быстрая,  - логистическая регрессия (регуляризатор - L2, количество итераций = 5000, solver - 'lbfgs').